html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  height: 100vh;
}

.header {
  background-color: #70a7df;
  height: 15vh;
}

.main {
  background-color: #bce68b;
  flex: 75%;
}

.aside {
  background-color: #93b071;
  flex: 25%;
}

.aside__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.footer {
  background-color: #41f2c2;
  height: 15vh;
}

.footer__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.container {
  display: flex;
  height: 70vh;
}
